#homeGrid{
  display: grid;
  grid-template-rows: 1fr 1fr 14fr 2fr ;
  grid-template-columns: 2fr 9fr 18fr 2fr;

  /* column-gap: 4rem; */
  min-width: 100%;
  min-height: 100%;

  background-color: #E9FFFE;
}
#profileBar{
  grid-row: 2/3;
  grid-column: 2/3;

  padding-left: 40px;
}