html,
body {
height:100%;
}
#loginGrid{
    display: grid;
    grid-template-columns: 1fr 2fr;

    min-width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #CBFEFB;
}
#loginIllustrationWrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: 1/2;
}
#loginWrapper {
    grid-column: 2/3;

    /* min-width: 100%; */
    display: flex;
    /* flex-direction: column; */

    justify-content: center ;
    align-items: center;
    background-color: #ffffff;
}
.centerWrapper{
    display: flex;
    justify-content: center;
}
#loginHeading{
    /* margin-top: 15rem; */

    font-family: "poppins";
    font-weight:500;
    font-size: 24px;

    display: flex;
    justify-content: center;
    min-width: auto;
}
#loginPrompt{
    min-width: 100%;
    margin-top: 1rem;
    font-family: "poppins";
    font-size: 18px;
    display: flex;
    justify-content: center;
    color: red;
    font-size: 14px;
    height: 1rem;
}
.loginFormInput{
    margin-top: 46px;
    border-radius: 23px;
    border-style: none;
    background-color: #CBFEFB;
    display: flex;
    justify-content: center;
    min-width: 250px;
    min-height: 46px;
    padding-left: 2rem;
}
.loginFormInput:focus{
    outline: none;
    background-color: #76DAD5;
}
#submitBtn{
    margin-top: 46px;

    border-style: none;

    background-color: #76DAD5;
    color: black;

    font-family: "Poppins";
    font-weight: 300;

    font-size: 14px;
    
    /* padding: 0.5rem 2rem 0.5rem 2rem; */
    height: 46px;
    width: 150px;

    border-radius: 23px;
}
#submitBtn:hover{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #65bdb9;
}
#submitBtn:active{
    transition: none;
    background-color: #56a19d;
    box-shadow: #000000 inset 1px 1px 5px;
}



#submitButtonWrapper{
    display: flex;
    justify-content: center;
}

