body{
    font-family: "poppins";    
}
#primaryWindowWrapper{
    grid-column: 2/3;
    grid-row: 3/4;

    display: grid;
    grid-template-rows: 1fr 11fr;

    min-width: 100%;
}
#topNavBar{
    /* min-width: 100% ; */
    display: flex;
    justify-content: space-evenly;

    grid-row: 1/2;
}
#primaryWindow{
    margin-top: 1rem;
    grid-row: 2/3;

    background-color: #ffffff;
    border-radius: 23px;

    min-width: 100%;
    display: grid;
    grid-template-rows: 80px auto;
}

.sectionButton{
    width: 30%;
    height: 46px;
    background-color: #CBFEFB;
    border-style: none;
    border-radius: 23px;
    font-family: "poppins";    

}
.sectionButton:hover{
    background-color: #a3e6e1;
}
.sectionButton:active{
    background-color: #8ad4cf;
    box-shadow: #000000 inset 1px 1px 5px;
}

.whiteButton{
    background-color: #ffffff;
}
.whiteButton:hover{
    background-color: #f0f0f0;
}
.whiteButton:active{
    background-color: #d5d5d5;
    box-shadow: #000000 inset 1px 1px 5px;

}

#messagesWrapper {
    max-height: 55vh;

    grid-row: 2/3;
    
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    flex-grow: auto;

    margin-left: 10px;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    border-radius: 10px;   
}
::-webkit-scrollbar-thumb {
    background: #97E9E5;
    border-radius: 5px;
}