#searchWrapper{
    display: flex;
    justify-content: center;
    font-family: "poppins";    

    max-height: 50px;
    min-width: 100%;
    grid-row: 1/2;
}
.inputBox{
    border-style: none;
    background-color: #CBFEFB;
    height: 46px;
    border-radius: 23px;
    font-family: "poppins";    

}
.inputBox:focus{
    outline: none;
    background-color: #a1deda;
}
#searchInputBox{
    width: 85%;
    height: 46px;

    margin-top: 1rem;
    padding-left: 20px;
}