#secondaryWindow{
    grid-column: 3/4;
    grid-row: 3/4;

    background-color: #ffffff;
    border-radius: 23px;

    margin-left: 10%;

    min-height: 100%;
    min-width: 80%;

    font-family: "poppins";
    font-size: 14px;
    font-weight: 400;
    color: #000000;

    display: grid;
    grid-template-rows: 70px auto 70px;
}
#itemDescBar{
    background-color: #97E9E4;
    height: 46px;
    border-radius: 23px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#itemDescBar:hover{
    background-color: #6edad2;
}
#itemDescBar:active{
    background-color: #57cac2;
    box-shadow: inset 1px 1px 5px #000;
}
#itemName{
    margin-left: 2rem;
    align-self: center;
}
#itemInfo{
    margin-right: 2rem;
    align-self: center;
    font-size: 12px;
}

#chatWindow{
    min-width: 100%;
    
    justify-content: center;
    align-self: center;
}
#textBar{
    height: 60px;
    min-width: 100%;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    /* margin-left: 1%; */
    /* margin-right: 1rem; */
    /* margin-bottom: 1rem; */
}

#textBox{
    height: 46px;
    width: 85%;

    border: none;

    background-color: #CBFEFB;
    border-radius: 23px;

    padding-left: 30px;
    font-family: "poppins";
    font-size: 14px;

    align-self: center;
    
    margin-left: 1.5%;

}
#textBox:focus{
    background-color: #8fe4df;
    outline: none;
}
#msgSendBtn{
    border: none;
    border-radius: 23px;

    font-family: "poppins";
    font-size: 14px;
    
    background-color: #39AEA8;
    color: #ffffff;

    margin-left: .8%;
    margin-right: 1.5%;

    height: 46px;
    width: 10%;
}
#msgSendBtn:hover{
    background-color: #27938d;
}
#msgSendBtn:active{
    background-color: #1b807b;
    box-shadow: inset 1px 1px 5px #000000;
}
#secondaryWindow2{
    grid-column: 3/4;
    grid-row: 3/4;

    background-color: #ffffff;
    border-radius: 23px;

    margin-left: 10%;
    display: flex;

    justify-content: center;
    align-items: center;

    font-family: "poppins";
    font-size: 14px;
    font-weight: 400;
    color: #7c7c7c;
}