.contactName{
    font-family: "poppins";
    font-weight: 600;
    font-size: 14px;

    align-self:flex-start;
}
.contactStatus{
    font-family: "poppins";
    font-weight: 400;
    font-size: 12px;

    align-self:flex-start;

    max-width: 100%;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}