.textContainer{
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #CBFEFB;

    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    padding:0.5rem;
    border-radius: 10px;
    
}
.textContainer:hover{
    background-color: #8fe4df;
}
.textBody{
    margin: 0rem 0.5rem 0rem 0.5rem;
    /* width: 80%; */

    font-family: "poppins";
    font-size: 14px;

    color: black;
}

.senderName{
    margin: 0rem 0.5rem 0rem 0.5rem;

    font-family: "poppins";
    font-size: 12px;
    font-weight: 600;

    color: black;
}
.userTextContainer{
    justify-content: right;
}

.dateAndDltWrapper{
    display: flex;
    justify-content: space-between;
}
.date{
    margin: 0rem 0.5rem 0rem 0.5rem;
    
    font-family: "poppins";
    font-size: 12px;
    font-weight: 400;

    color: #787878;
}


.deleteBtn {
    margin-left: 0.4rem;
    margin-top: 0.2rem;
    border-style: none;
    background-color: rgb(28, 122, 122);
    color: #ffffff;
    border-radius: 5px;
    font-family: "poppins";
    font-size: 10px;
    display: none;
}
  
.textContainer:hover .deleteBtn {
    display: inline;
    background-color: #1F5C59;

}
.textContainer:hover .deleteBtn:hover {
    background-color: #133f3d;

}
